.page {
  margin: 0 auto;
  width: 100%;
  padding: 20px;
}

.title {
  font-size: 28px;
}

.ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.textarea {
  margin: 20px auto 0;
  width: 100%;
  height: 150px;
  resize: none;
  overflow-y: auto;
}

.btn-wrapper {
  // text-align: right;
}

.transfer-wrapper {
  margin: 20px auto;
  padding: 0 0 20px;
  text-align: center;
}

.transferred-url-text {
  word-break: break-all;
  cursor: pointer;
}
